
.contact--h1{
    color: $secondarycolor;
    padding-bottom: 20px;
    font-family: $fontfamily;
    font-weight: bold;
}

.contact__text{
    color: $secondarycolor;
    padding-bottom: 20px;
    font-family: $fontfamily;
}

.form--label{
    font-size: 16px;
    font-weight: bold;
    font-family: $fontfamily;
    color: $secondarycolor;
}

.form--input {
    width: 100%;
    padding: 10px;
}

.message--input{
    width: 100%;
    font-size: 16px;
    font-family: $fontfamily;
}

.contact--button{
    background-color: $elementcolor;
    border: none;
    color: white;
    height: 34px;
    width: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.contact--button:hover{
    background-color: $secondarycolor;
    color: white;
}

.error__message{
    color: $secondarycolor;
    font-size: 16px;
    font-style: italic;
    font-family: $fontfamily;
}
