.contact__h1{
    color: $secondarycolor;
    padding-bottom: 20px;
    font-family: $fontfamily;
    font-weight: bold;
}

.contact__text{
    color: $secondarycolor;
    padding-bottom: 20px;
    font-family: $fontfamily;
}

.form__label{
    font-size: $formfontsize;
    font-weight: $forminputwidth;
    font-family: $fontfamily;
    color: $secondarycolor;
}

.form__input {
    height: $forminputheight;
    display: block;
    width: $forminputwidth;
}

.message__input{
    width: $forminputwidth;
    height: 150px;
    font-size: $formfontsize;
    font-family: $fontfamily;
}

.contact__button{
    background-color: $elementcolor;
    border: none;
    color: white;
    height: 34px;
    width: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.contact__button:hover{
    background-color: $secondarycolor;
    color: white;
}

.error__message{
    color: $secondarycolor;
    font-size: 16px;
    font-style: italic;
    font-family: $fontfamily;
}
