.contact__h1{
    color: $secondarycolor;
    padding-top: 40px;
    font-family: $fontfamily;
    font-weight: bold;
    text-align: center;
}

.contact__text{
    color: $secondarycolor;
    padding-bottom: 20px;
    font-family: $fontfamily;
    text-align: justify;
    text-align: center;
}

.form__label--contact{
    font-size: $formfontsize;
    font-weight: bold;
    font-family: $fontfamily;
    color: $secondarycolor;
    padding-bottom: 5px;

}

.form__input--contact {
    height: $forminputheight;
    display: block;
    width: $forminputwidth;
    padding: 10px;
}

.message__input--contact{
    width: $forminputwidth;
    height: 200px;
    font-size: $formfontsize;
    font-family: $fontfamily;
    padding: 15px;
}

.contact__button{
    background-color: $elementcolor;
    border: none;
    color: white;
    height: 34px;
    width: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.contact__button:hover{
    background-color: $secondarycolor;
    color: white;
}

.error__message--contact{
    color: $secondarycolor;
    font-size: 16px;
    font-style: italic;
    font-family: $fontfamily;
}

.contact__form{
    max-width: 900px;
    margin: 0 auto;
    margin-top: -45px;
}
