.enquiry__h1{
text-align: center;
}

.form--input {
    width: 100%;
    padding: 10px;
    font-family: $fontfamily;
    font-size: 16px;
}

.enquiry__form{
    max-width: 900px;
    margin: 0 auto;
}
