.enquiry__h1{
    color: $secondarycolor;
    padding-bottom: 20px;
    font-family: $fontfamily;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.form__label--enquiry{
    padding-bottom: 5px;
    color: $secondarycolor;
    font-size: $formfontsize;
    font-weight: $formlabelweight;
    font-family: $fontfamily;
}

.form__input--enquiry {
    width: $forminputwidth;
    height: $forminputheight;
    padding: 10px;
    font-family: $fontfamily;
    font-size: $formfontsize;
}

.form__custom{
    width: $forminputwidth;
    height: $forminputheight;
    padding: 10px;
    font-family: $fontfamily;
    font-size: $formfontsize;
    background-color: white;
    border: 0px solid;
    border-radius: 1px;
}

.enquiry__form{
    max-width: 900px;
    margin: 0 auto;
    margin-top: -45px;
}

.enquiry__button{
    background-color: $elementcolor;
    border: none;
    font-weight: bold;
    color: white;
    height: 34px;
    width: 8%;
    text-decoration: none;
    font-size: 14px;
}
