/*------------------- HEADING --------------------*/
.enquiries__h1{
    color: $secondarycolor;
    font-family: $fontfamily;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 20px;
}

/*------------------- ENQUIRY LIST --------------------*/
.enquirylist{

&__establishment{
    color: $secondarycolor;
    font-family: $fontfamily;
    font-weight: bold;
    margin: 20px;
    font-size: 20px;
}

    &__clientname{
    font-family: $fontfamily;
    margin: 20px;
    font-size: 16px;
    }

    &__email{
    color: $elementcolor;
    font-family: $fontfamily;
    text-decoration: none;
    margin: 20px;
    font-size: 16px;

    &:hover{
    color: $secondarycolor;
    }
}
    &__boldtext{
    color: $secondarycolor;
    }


    &__checkin{
    font-family: $fontfamily;
    margin: 20px;
    font-size: 16px;
    }

    &__checkout{
    font-family: $fontfamily;
    margin: 20px;
    font-size: 16px;
    }
}
