/*------------------- ENQUIRY FORM --------------------*/
.form__label--enstablisment{
    color: $secondarycolor;
    font-size: $formfontsize;
    font-weight: $formlabelweight;
    font-family: $fontfamily;

}
.form__input--enstablisment{
    width: 100%;
    height: 35px;
    padding: 10px;
    font-family: $fontfamily;
    font-size: 16px;
}
