$fontfamily: 'Helvetica';
$primarycolor: #759AB3;
$secondarycolor: #193C6E;
$elementcolor: #6E2619;
$navlinkcolor: #FFFFFF;

*, *::before, *::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $primarycolor;
}

.page {
    min-height: 100vh;
}

/* ---------- HOME ---------- */
.nav{
    background-color: $secondarycolor;
    height: 50px;
}

.nav__link{
    font-family: $fontfamily;
    font-style: normal;
    color: $navlinkcolor;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav__link:hover{
    color: $primarycolor;
}


.nav__link--active{
    font-weight: bold;
    color: $primarycolor;
    border-bottom: 3px solid $primarycolor;
}

.hero{
    background: url("../image/heroimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;

    &--contact{
        background: url("../image/heroimg2.png");
        background-size: cover;
    }

    &--login{
        background: url("../image/heroimg2.png");
        background-size: cover;
    }

    &--hotels{
        background: url("../image/heroimg2.png");
        background-size: cover;
    }

    &--enquiry{
        background: url("../image/heroimg2.png");
        background-size: cover;
    }
}

.hero__extra{
    position: relative;
    min-height: 1px;
}

.hero__heading{
    text-align: center;
    padding-top: 90px;
    font-family: $fontfamily;
    color: $navlinkcolor;
}

.nav__menuToggler{
    display: none;
}

.nav__right{
    float: right;
    padding: 12px;
}
