$fontfamily: 'Helvetica';
$primarycolor: #99B5C7;
$secondarycolor: #164862;
$elementcolor: #4C4B72;
$navlinkcolor: #FFFFFF;
$forminputheight: 35px;
$forminputwidth: 100%;
$formfontsize: 16px;
$formlabelweight: bold;

/*------------------- BODY --------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $primarycolor;
}

/*------------------- HERO IMAGE --------------------*/
.hero{
    background: url("../image/bryggen.jpeg");
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    height: 50vh;
    padding-top: 105px;
    position: relative;
    &--frontpage{
        padding-top: 75px;
    }
}

.hero__extra{
    position: relative;
    min-height: 1px;
}

.hero__heading{
    font-family: 'los-feliz, serif';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-family: $fontfamily;
    color: $navlinkcolor;
}
