/*=======================[Grid]=======================*/
/* Got permission from Christian Gunvaldsen to use his code.*/

//grid
$mobile: 575px;
$tablet: 1120px;
$desktop: 2560px;
$spacingPrimary: 10px;

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: stretch;
  min-height: 1px;
}
[class*="col-"]{
  @extend .column;
  margin: 0;
  padding: $spacingPrimary;
}
.row {
  display: flex;
  padding: 50px 0px 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  -webkit-align-items: stretch;
  ::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin makeGrid ($cols-in-grid: 12, $prefix: "col-") {
  @for $i from 1 through $cols-in-grid {
    .#{$prefix}#{$i} {
      flex-basis: $i / $cols-in-grid * 100% !important;
    }
  }
}
@media only screen {
  /*for all*/
  @include makeGrid($prefix:"col-");
  .col-auto {
    flex-grow: 1;
  }

  /*for mobile*/
  @media (min-width: 0) and (max-width: $mobile) {
    @include makeGrid($prefix:"col-m-");
  }

  /*for tablet*/
  @media (min-width: $mobile) and (max-width: $tablet) {
    @include makeGrid($prefix:"col-t-");
  }

  /*for desktop*/
  @media (min-width: $tablet) and (max-width: $desktop) {
    @include makeGrid($prefix:"col-d-");
  }
}
