/*------------------- HOTEL SPESIFIC --------------------*/
.hotelspesific{
    &__image{
        // display: block;
        width: 100%;
        height: 100%;
        // margin: 0 auto;
        // object-fit: cover;
        // align-items: center;
    }

    &__line{
        border: 1px solid $secondarycolor;
        margin: 1px;
    }

    &__establishmentName{
        text-align: left;
        margin: 20px;
        margin-top: -5px;
        color: $secondarycolor;
        font-family: $fontfamily;
    }

    &__description{
        text-align: left;
        font-family: $fontfamily;
        font-size: 16px;
        margin: 20px;
    }

    &__email{
        text-align: left;
        font-family: $fontfamily;
        color: $secondarycolor;
        text-decoration: underline;
        font-size: 16px;
        margin: 20px;

        &:hover{
        color: $elementcolor;
        }

    }

    &__price{
        text-align: left;
        color: $secondarycolor;
        font-family: $fontfamily;
        font-size: 18px;
        font-weight: bold;
        margin: 20px;
    }

    &__questions{
        text-align: left;
        font-family: $fontfamily;
        font-size: 16px;
        margin: 20px;
    }

    &__button{
        background-color: $elementcolor;
        border: none;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: $fontfamily;

        &:hover{
        background-color: $secondarycolor;
        }
    }
}
