.hotelspesific{
    &__image{
        display: block;
        width: 50%;
        margin: 0 auto;
        align-items: center;
        object-fit: cover;
    }

    &__establishmentName{
        text-align: center;
        margin: 20px;
        color: $secondarycolor;
        font-family: $fontfamily;
    }

    &__description{
        text-align: center;
        font-family: $fontfamily;
        font-size: 16px;
        margin: 20px;
    }

    &__email{
        text-align: center;
        font-family: $fontfamily;
        color: $secondarycolor;
        text-decoration: underline;
        font-size: 16px;
        margin: 20px;
    }

    &__button{
        background-color: $elementcolor;
        border: none;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: $fontfamily;

        &:hover{
        background-color: $secondarycolor;
        }
    }
}
