.login__h1{
    color: $secondarycolor;
    font-family: $fontfamily;
    text-align: center;
}

.form__label--login{
    color: $secondarycolor;
    font-size: $formfontsize;
    font-weight: $formlabelweight;
    font-family: $fontfamily;
}

.form__input--login{
    width: 100%;
    height: 35px;
    padding: 10px;
    font-family: $fontfamily;
    font-size: 16px;
}

.login__form-group{
    padding: 10px 0px;
}

input::placeholder {
  font-size: 16px;
}

.error__message{
    color: $secondarycolor;
    font-size: $formfontsize;
    font-style: italic;
    font-family: $fontfamily;
}

.login__button{
    background-color: $elementcolor;
    border: none;
    color: white;
    padding: 10px 100px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: $fontfamily;
}

.login__button:hover{
    background-color: $secondarycolor;
}

.login__error{
    font-size: 14px;
    font-family: $fontfamily;
    font-weight: bolder;
    color: $elementcolor;
}
