/*------------------- MESSAGE PAGE --------------------*/
.messages{
    padding-bottom: 40px;
}

/*------------------- HEADING --------------------*/
.messages__h1{
    color: $secondarycolor;
    font-family: $fontfamily;
    font-weight: bold;
    margin: 20px;
    text-decoration: underline;
}

/*------------------- ADMIN MESSAGE --------------------*/
.message__clientname{
    color: $secondarycolor;
    font-family: $fontfamily;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    padding-top: 30px;
}

.message__email{
    color: $elementcolor;
    font-family: $fontfamily;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;

    &:hover{
        color: $secondarycolor;
    }
}

.message__text{
    font-family: $fontfamily;
    font-size: 16px;
    margin: 20px;
}
